.tabbable.tabs-left
  %ul.nav.nav-tabs
    %li.nav-item
      %a.nav-link{class: page == :comments_by_date ? 'active' : '', href: 'by_date.html'}= :comments_by_date.t

  .tab-content
    .tab-pane.active
      .page-header
        %h1.text-center= page.t
      - if page == :comments_by_date
        = high_stock('comments_by_date', charts.comments_by_date)
