name: Test

on: 
  - push
  - pull_request

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - 2.5
          - 2.6
          - 2.7
          - '3.0'
          - 3.1
          - 3.2
          - 3.3
          - ruby-head
        active_support_version:
          - latest
        include:
          - ruby: 3.3
            active_support_version: ~> 6.1.x
          - ruby: 3.3
            active_support_version: ~> 7.0.x
    env:
      ACTIVE_SUPPORT_VERSION: ${{ matrix.active_support_version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Checkout git submodules
        run: git submodule update --init --recursive
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Run tests
        run: bundle exec rake
        continue-on-error: ${{ matrix.ruby == 'ruby-head' }}
      - name: Upload coverage report
        uses: codecov/codecov-action@v3
